*{
	/*outline: 1px solid red;*/
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

img{
    top:50px;
    left:4px;
    width: 90px;
    height: 60px;
   position: relative;

}
nav{
position: fixed;
width: 100%;
height: 140px;
z-index: 1000;
top: 0;
  background-image: linear-gradient( #76278f, #2B1E66);

}
.menu{
padding: 20px;
color: white;
text-decoration: none;
text-align: center;
font-size: 25px;
left: 600px;
position: relative;
left: 60%;
}

 button{
     padding: 20px 30px;
     background-color: white;
     color: white;
     background: transparent;
     font-size: 20px;
     border-radius: 10px;

 }

#primera{
      background-image: linear-gradient( #76278f, #2B1E66);    
}
mivideo{
    width:100%;
    height: 100%;
    display: inline-block;
  text-align: center;
  position: relative;
}
iframe .video1{
    left: 40%;
    position: relative;
    left: 100%;

}

#formulario{
   
    background: beige;
    background-position: center;
    background-size: cover;
    height: 400px;
    width:600px;
    text-align: center;
    left: 80%;
   position: absolute;

}
.phone {
     color: #fff;
    background: transparent;
    width: 600px;
    height: auto;
    font-size: 10px;
    margin-top: 80px;
    font-size: 30px;
     display: inline-block;
     
   }
.phone img{
    top:-400px;
    width: 500px;
    height: 400px;
     padding: 10px;
     margin: 10px;  
   position: relative;
   left: 800px;

} 
footer{
text-align: center;
height: 400px;
background: #333447;;
color: white;
padding-top: 7px;
}
.servicios{
display: inline-block;
width: 20%;
margin-top: 50px;

}

.icono{
    position: relative;
    padding: 20px;
    left: 50px;
  
}
.servicios:hover{
    color: #FF00BF;
}
.icon-facebook{
font-size: 30px;
}
.icon-instagram{
font-size: 30px;
}
.icon-twitter{
font-size: 30px;
}
.google{
    top: 10px;
    left: -15%;
    float: right;
    width:auto;
    height: 40px;
   
}
.apple{
    top: 80px;
    left: 4%;
    float: right;
    width:auto;
    height: 40px;
    
}
.microsoft{
    top: 150px;
    left: -6%;
    float: right;
    width:auto;
    height: 40px;
}





