*{
	/*outline: 1px solid red;*/
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

img{
    top:58px;
    left:4px;
    width: 90px;
    height: 60px;
   position: relative;

}

nav{
position: fixed;
width: 100%;
height: 140px;
z-index: 1000;
top: -50px;
background-image: linear-gradient( #76278f, #2B1E66);

}
#navedador{
top: -80px;
}
.menu{
    top: 2px;
padding: 18px;
color: white;
text-decoration: none;
text-align: center;
font-size: 25px;
position: relative;
left: 60%;
}
.menu:hover{
    color: #FF00BF;
}

 button{
     padding: 20px 30px;
     color: white;
     background: transparent;
     font-size: 15px;
     border-radius: 10px;

 }
 /*===================LA PRIMERA SECCIONO DEL CONTENIDO=======================================*/

#primera{
      background-image: linear-gradient( #76278f, #2B1E66); 
      width:1238; 
      height:1600px; 
      
}
/*---------------------Video de fondo-------------------------------------*/
.mivideo{
    width:1238px;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

/*------------------formulario------------------------------------------*/

#formulario{
   color:#352384;
    background: white;
    background-position: center;
    background-size: cover;
    height: 550px;
    width:580px;
    text-align: center;
    left: 50%;
    top: 150px;
   position: absolute;
   font-size: 20px;

}
input{

        border-top-style: none;
        border-left-style:none;
        border-right-style: none;
        border-bottom: 3px  solid #352384; 
        font-size: 20px; 
}
form button{
    background: #FF00BF;
    left: 10px;
}
.phone {
     color: #fff;
    background: transparent;
    width: 600px;
    height: auto;
    font-size: 10px;
    margin-top: 80px;
    font-size: 20px;
    display: inline-block;
     
   }
.phone img{
    top:-400px;
    width: 600px;
    height: 500px;
     padding: 10px;
     margin: 10px;  
   position: relative;
   left: 600px;

} 

/*============================== SEGUNDA SECCION DE VIDEOS=========================== */
iframe {
    
    position: relative;
    left: 100%;
    width:700px;
    height: 350px;

}
.texto1{

    position: relative;
    width: 300px;
    height: 400px;
    top: 60px;
    right: -40px;
    font-size: 20px;
    float: left;
    left:15%;
    text-align: center;

}

.video1{
    position: relative;
    left: 15%;
    top: 0px;
    font-size: 30px;
   height: 400px;
 /*  width: :600px;*/
}
.texto2{

    position: relative;
    width: 300px;
    height: 450px;
    right: 100px;
    top: 20px;
    float: right;
    font-size: 20px;
    text-align: center;
}
.video2{
    position: relative;
    left:0px;
    top: 20%;
  
}
.texto3{
    font-size: 20px;
    position: relative;
    width: 300px;
    height: 280px;
    top: 30px;
    float: left;
    left: 15%;
    text-align: center;
}
.video3{
    position: relative;
    left: 15%;
     top:100%;
}

footer{
text-align: center;
height: 400px;
background: #333447;;
color: white;
padding-top: 2px;
}


.icono{
    position: relative;
    padding: 20px;
    left: 50px;
  
}

.icon-facebook{
font-size: 30px;
}
.icon-instagram{
font-size: 30px;
}
.icon-twitter{
font-size: 30px;
}

#registrarse{
    left: 30%;
    width: 136px;
    height:40px;
    position: relative;
    display: block;
    right:0px;
   margin-bottom: 30px;

}
.buscador{
    top: 10px;
    display: inline-table;
    top: 0px;

}
.hom{
    padding: 10px;
}
.servicios{
display: inline-block;
width: 20%;
margin-top: 50px;
margin-left: 10px;

}
.servicios:hover{
    color: #FF00BF;
}

hr{
    height: 1px;
    width: 60%;
    left: 20%;
    background-color: white;
    margin-top: 60px;
    position: absolute;
}
#icono{
    left: 3%;
    text-align: center;
      color: white;
      border-radius:60px; 
      border-style:solid;
      margin-right: 60px;
      font-size: 20px;
      padding: 10px;
      top: 40px;
      position: relative;

}
.footer{
        margin-top: 80px;
}
  



